:root {
  --box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.25);
  --box-shadow-hover: 0 4.5px 9px 0 rgba(0, 0, 0, 0.15);

  --spacing: 3rem;
  --spacing-2: 1.5rem;
  --spacing-3: 1rem;

  --first-gradient: linear-gradient(180deg, #9d7afe 0%, #5baaff 100%);
  --second-gradient: linear-gradient(180deg, #af71ff 0%, #dc89f8 100%);
  --link-underline-gradient: linear-gradient(90deg, #af71ff 0%, #dc89f8 100%);

  --background-color: #ffffff;
  --divider-color: rgba(0 0 0 / 0.4);
  --card-background-color: #ffffff;
  --card-border-color: #ebedf0;
  --scrollbar-color: #cccccc;
  --scrollbar-hover-color: #bebebe;
  --scrollbar-active-color: #9f9f9f;
  --heading-color: #1c1e21;
  --text-color: #444950;
  --text-hover-color: #606770;
  --text-faded-color: #505050;
  --green: #2e8555;
  --blue: #4aa8f6;
  --warning-background-color: #fff4e5;
  --warning-text-color: #663c00;
  --button-text-color: #000000;
  --button-face-color: #aad9ff;
  --button-edge-color: #91bee3;
  --button-edge-shadow-color: #7da9cd;
  --text-link-color: #0076d8;
  --text-link-color-hovered: #1c99ff;
  --form-response-background-color: #00fd0038;
  --form-response-border-color: #009d0088;
}

@media (prefers-color-scheme: dark) {
  :root {
    --first-gradient: linear-gradient(180deg, #8358F6 0%, #3B90ED 100%);
    --second-gradient: linear-gradient(180deg, #964FF0 0%, #CB6FEB 100%);
    --link-underline-gradient: linear-gradient(90deg, #8358F6 0%, #3B90ED 100%);
    
    --background-color: #1b1b1d;
    --divider-color: #444950;
    --card-background-color: #242526;
    --card-border-color: #444950;
    --scrollbar-color: #444950;
    --scrollbar-hover-color: #585e68;
    --scrollbar-active-color: #616872;
    --heading-color: #e3e3e3;
    --text-color: #ebedf0;
    --text-hover-color: #dadde1;
    --text-faded-color: #B8B8B8;
    --green: #3cad6e;
    --blue: #6bb6f3;
    --warning-background-color: #3B3326;
    --warning-text-color: #F2CB8C;
    --button-text-color: #000000;
    --button-face-color: #6bb6f3;
    --button-edge-color: #398cd1;
    --button-edge-shadow-color: #206298;
    --text-link-color: #4aa8f6;
    --text-link-color-hovered: #65b9fd;
    --form-response-background-color: #00ff511b;
    --form-response-border-color: #00ff5185;
  }
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-corner {
  background-color: #00000000;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover-color);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-active-color);
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;

  background-color: var(--background-color);
  color: var(--text-color);

  font-family: Roboto, system-ui, -apple-system, Segoe UI, Ubuntu, Cantarell,
    Noto Sans, sans-serif;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-hover-color);
}

main {
  min-height: 100%;

  width: 100%;
  display: grid;
  grid-template-columns: auto [divider-start] 1px [divider-end content-start] minmax(min-content, 850px) [content-end] auto;
  grid-template-rows: 10vh repeat(6, 1px min-content) auto;
}

.divider {
  background-image: radial-gradient(var(--divider-color) 1px, transparent 0);
  background-size: 5px 5px;
  background-position: -2px -2px;
}

.divider.vert {
  grid-column: divider-start / divider-end;
  grid-row: 1 / -1;
}

.divider.horiz {
  grid-column: 1 / -1;
}
.divider.horiz:nth-of-type(2) {
  grid-row: 2 / span 1; 
}
.divider.horiz:nth-of-type(3) {
  grid-row: 4 / span 1; 
}
.divider.horiz:nth-of-type(4) {
  grid-row: 6 / span 1; 
}
.divider.horiz:nth-of-type(5) {
  grid-row: 8 / span 1; 
}
.divider.horiz:nth-of-type(6) {
  grid-row: 10 / span 1; 
}
.divider.horiz:nth-of-type(7) {
  grid-row: 12 / span 1; 
}

section {
  padding: var(--spacing);
  grid-column: content-start / content-end;
}
section:nth-of-type(1) {
  grid-row: 3 / span 1;
}
section:nth-of-type(2) {
  grid-row: 5 / span 1;
}
section:nth-of-type(3) {
  grid-row: 7 / span 1;
}
section:nth-of-type(4) {
  grid-row: 9 / span 1;
}
section:nth-of-type(5) {
  grid-row: 11 / span 1;
}
section:nth-of-type(6) {
  grid-row: 13 / span 1;
}

nav {
  grid-area: 3 / 1 / span 1 / span 1;
  margin: var(--spacing) var(--spacing) 0 0;
  position: sticky;
  top: var(--spacing);
}

.navbar-list {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
.navbar-list > li {
  all: unset;
  text-align: right;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}
.navbar-list > li > a {
  display: inline-block;
  position: relative;
  transition: color 250ms ease-in-out;
}
.navbar-list > li > a:hover {
  transition: color 250ms ease-in-out;
}
.navbar-list > li > a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: var(--link-underline-gradient);
  transform-origin: bottom right;
  transition: transform 250ms linear 50ms;
}
.navbar-list > li > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

section > h2 {
  font-size: 1.75rem;
  font-size: clamp(1.75rem, 1.65rem + 0.5vw, 2.25rem);
  font-weight: 300;
  margin-top: -0.25em;
  margin-bottom: calc(var(--spacing) - 0.5em);
}

section a:not(.card) {
  color: var(--text-link-color);
}
section a:not(.card):hover {
  color: var(--text-link-color-hovered);
  text-decoration: underline;
}

.overview {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) / 2);
}

.overview .logo-wrapper {
  max-width: 450px;
}
.overview .logo-wrapper .logo {
  width: 100%;
}
.overview .logo-wrapper .logo .logo-letters path {
  fill: var(--heading-color);
}

.overview .acronym-explainer {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text-faded-color);
}

.overview .acronym-explainer .large-letter {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--heading-color);
}

.overview .robokop-intro {
  font-size: 1.15rem;
  font-weight: 300;
  margin-bottom: calc(var(--spacing) / 2);
}

.card.gradient-card:first-of-type {
  background: var(--first-gradient);
}
.card.gradient-card:last-of-type {
  background: var(--second-gradient);
}
.card.gradient-card {
  color: white;
}
.card.gradient-card .icon-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.card.gradient-card .card-header {
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.card.gradient-card:hover .external-link {
  stroke: white;
}
.card.gradient-card .external-link {
  stroke: white;
}

.project-button-wrapper,
.additional-tools-button-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--spacing);
}

.citations {
  padding-left: 1em;
}
.citations li {
  padding-left: 1ch;
}
/* break long links in citation */
.citations a {
  word-break: break-all;
}

.card {
  background-color: var(--card-background-color);
  padding: 16px 24px;
  border: 1px solid var(--card-border-color);
  border-radius: 20px;
  box-shadow: var(--box-shadow);

  transition: box-shadow 250ms ease-in-out;
  transition: border-color 250ms ease-in-out;
}

.warning-card {
  margin: 16px -24px -16px -24px;
  padding: 16px 24px;
  background-color: var(--warning-background-color);
  color: var(--warning-text-color);
  border-radius:  0 0 20px 20px;
}

.card:focus {
  outline: 2px solid var(--blue);
}

.card:hover {
  box-shadow: var(--box-shadow-hover);
  border-color: var(--blue);

  transition: box-shadow 250ms ease-in-out;
  transition: border-color 250ms ease-in-out;
}

.card:hover .external-link-arrow {
  transform: translate(2px, -2px);
  transition: transform 250ms ease-in-out;
}

.card .external-link-arrow {
  transition: transform 250ms ease-in-out;
}

.card-header {
  display: flex;
  justify-content: space-between;
  gap: 1ch;
}

.card-header h2 {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
  display: inline-block;
}

.card hr {
  all: unset;
  border-top: 1px solid var(--card-border-color);
  display: block;
  margin: var(--spacing-3) 0;
  transform: translateY(-2px);
}

.card .external-link {
  display: inline-block;
  stroke: var(--text-color);
  transform: translateY(4px);
}

.card:hover .external-link {
  stroke: var(--text-hover-color);
}

label {
  text-transform: uppercase;
  font-weight: 300;
  font-size: .9rem;

  position: absolute;
  top: calc(-1em - 10px);
  left: 16px;
}

input, textarea {
  padding: 16px;
  margin: 0;
  border-radius: 10px;
  border: 1px solid var(--card-border-color);
  width: 100%;

  color: inherit;
  background-color: var(--card-background-color);
  box-shadow: var(--box-shadow);
}

textarea {
  resize: vertical;
}

.name-email-group {
  flex: 1;

  display: flex;
  gap: 40px;
}

.input-group {
  flex: 1;
  
  position: relative;
}

.input-group input:focus,
.input-group textarea:focus {
  outline: 1px solid var(--blue);
}

form {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#form-response {
  display: none;
  background-color: var(--form-response-background-color);
  padding: 16px 16px;
  border-left: 3px solid var(--form-response-border-color);
  border-radius: 0 10px 10px 0;
}

/* Button styles */
.submit-button-wrapper {
  display: flex;
  align-items: flex-start;
}
.submit-button-wrapper .pushable {
  --accent-light: var(--button-face-color);
  --accent-dark: #488a5b;
  --text-color: var(--button-text-color);
  --radius: 10px;
  --height: 6px;
  --hover-rise: 2px;
  --bottom-out-height: 4px;
  --shadow-opacity: 0.2;
  --blur-radius: 8px;

  margin-left: auto;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  border-radius: var(--radius);
  outline-offset: 6px;
  transition: filter 250ms;
}
.submit-button-wrapper .pushable:disabled {
  filter: grayscale();
}
.submit-button-wrapper .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  background: hsl(0deg 0% 0% / var(--shadow-opacity));
  will-change: transform;
  transform: translateY(var(--height));
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  filter: blur(var(--blur-radius));
}
.submit-button-wrapper .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  background: linear-gradient(
    to left,
    var(--button-edge-shadow-color) 0%,
    var(--button-edge-color) 8%,
    var(--button-edge-color) 92%,
    var(--button-edge-shadow-color) 100%
  );
}
.submit-button-wrapper .front {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  padding: 12px 32px;
  border-radius: var(--radius);
  color: var(--text-color);
  fill: var(--text-color);
  background: var(--accent-light);
  will-change: transform;
  transform: translateY(calc(-1 * var(--height)));
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  text-transform: uppercase;
  font-size: 1.1rem;
}
.submit-button-wrapper .front svg {
  transform-origin: center;
  transform: scale(1.5) translateX(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.submit-button-wrapper .pushable:hover:not(:disabled) {
  filter: brightness(105%);
  transition: filter 250ms;
}
.submit-button-wrapper .pushable:hover:not(:disabled) .front {
  transform: translateY(calc(-1 * (var(--height) + var(--hover-rise))));
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.submit-button-wrapper .pushable:hover:not(:disabled) .front svg {
  transform: scale(1.5) translateX(6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.submit-button-wrapper .pushable:active:not(:disabled) .front {
  transform: translateY(calc(-1 * var(--bottom-out-height)));
  transition: transform 34ms;
}
.submit-button-wrapper .pushable:hover:not(:disabled) .shadow {
  transform: translateY(calc((var(--height) + var(--hover-rise))));
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.submit-button-wrapper .pushable:active:not(:disabled) .shadow {
  transform: translateY(var(--bottom-out-height));
  transition: transform 34ms;
}
.submit-button-wrapper .pushable:focus:not(:focus-visible) {
  outline: none;
}

.grecaptcha-badge { 
  visibility: hidden;
}

.recaptcha-disclaimer {
  color: var(--text-faded-color);
  font-size: 0.85rem;
  padding: 0 16px;
}

@media (max-width: 1200px) {
  main > nav {
    display: none;
  }
}

@media (max-width: 850px) {
  :root {
    --spacing: 1.5rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.5rem;
  }

  .name-email-group {
    flex-direction: column;
  }
}

@media (max-width: 696px) {
  .card.gradient-card .icon-wrapper {
    display: none;
  }
}
